.header {
    width: 100%;
    height: 60px;
    background-color:black;
    color: white;
    line-height: 60px;
    text-align: center;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
    text-align: left; 
    font-style: italic;
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: red;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
img {
    max-width: 800px;
    margin-right: 15%;
}
#content {
    width: 800px;
    margin: 1px auto;
}

