.header {
    width: 100%;
    height: 60px;
    background-color:black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 60px;
    color: white;
}
.article {
    width: 200px;
    height: 220px;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    vertical-align:top;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-stretch: expanded;
    color: cornsilk;
    margin-left: 14%;
    font-size: 35px;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: italic;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
img {
    max-width: 800px;
    margin-right: 15%;
}
#content {
    width: 800px;
    margin: 1px auto;
}

