.khung{
    width: auto;
    height: auto;
}
.baivietmoi{
    width: 125px;
    height: 35px;
    background-color: red;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 14%;
}
.gach{
    margin-left: 13.0%;
    height: 5px;
}
.hinh1{
    width: 250px;
    height: 125px;
    margin-left: 25%;
    margin-top: 10px;
}
.tieude1{
    position: relative;
    right: 34.6%;
    top: 20px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.tieude1:hover{
    color: red;
}
.tomtat1{
    width: 62.5%;
    position: relative;
    top: 60px;
    left: 1.3%;
    font-size: 18px;
    color: black;
}
.tomtat1:hover{
    color: red;
}
.tieude2{
    float: right;
    position: relative;
    right: 658px;
    top: 96px;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.hinh2{
    width: 250px;
    height: 125px;
    margin-left: 14%;
    margin-top: 20px;
    position: relative;
    top: 80px;
    right: 31%;
}
.tomtat2{
    width: 32%;
    position: relative;
    bottom: 15px;
    left: 1.3%;
    font-size: 18px;
    color: black;
    left: 32%;
}
.tieude2:hover{
    color: red;
}
.tomtat2:hover{
    color:red
}
