.header {
    width: 100%;
    height: 60px;
    background-color:black;
    color: white;
    line-height: 60px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.menutren{
    background-color: rgb(2, 13, 26);
    height: 60px;
    width: 100%;
  
}

ul.menungang li{
    display: inline;
    width: 100%;
    color: white;
    line-height: 57px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.doan2{
    font-family:segoe ui ;
    font-size: 20px;

}
.doan2 p { 
    margin-left: 14%;
    margin-right: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 55%;
} 
.doan2 li{ 
    margin-left: 14%;
    margin-right: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    
} 
.doan2 img{
    width: 55%;   
    margin-left: 14%;
}
.dau{
    margin-left: 14%;
}
.hinh{margin-top: 25px;}
.li{
    margin-top: 25px;
    margin-left: 14%;
}