.header {
    width: 100%;
    height: 60px;
    background-color:black;
    color: white;
    line-height: 60px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.menutren{
    background-color: rgb(2, 13, 26);
    height: 60px;
    width: 100%;
  
}

ul.menungang li{
    display: inline;
    width: 500px;
    color: blanchedalmond; 
}
.doan4 img{
width: 55%;   
margin-left: 14%;
margin-top: 21px;
 margin-bottom: 19px;
}
.doan4 p { 
margin-left: 14%;
margin-right: 800px;
margin-top: 10px;
margin-bottom: 10px;
width: 55%;
}
.doan4{
font-family:segoe ui ;
font-size: 20px;
}
H2{
    margin-left: 14%;

    }