.doan img{
    width: 800px;
    margin-left: 14%;
}
.doan p{ 
    margin-left: 14%;
    font-size: 20px;
    font-family: segoe ui ;
    margin-right: 800px;
    width: 55%;
} 
.menutren{
    background-color: rgb(2, 13, 26);
    height: 60px;
    width: 100%;
}
ul.menungang li{
    display: inline;
    width: 500px;
    color: white;
    line-height: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.doan p a{
    color: rgb(57, 151, 228);
}
.doan a{
    text-align: center;
    text-decoration: none;
    font-family: segoe ui;
    color: red;
}